<div class="page-header"><h1>Blog Rails</h1></div>

<ul class="nav navbar">
	<li><%= link_to 'Listing all posts', controller: 'articles' %></li>
	<li><%= link_to 'New post', new_article_path %></li>
</ul>